 <div class="nav-bar">
    <label for=""><b>FilterBy:</b></label>
    <input type="text" [(ngModel)]="term" (keyup)="filterStudents()" >
    
    <label for=""><b>Pagination</b></label>
    <select  (change)="onPaginationChange()" [(ngModel)]="pageNo">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>

    <label for=""><b>Column:</b></label>
    <select [(ngModel)]="column">
        <option value="name">name</option>
        <option value="district">district</option>
    </select>

    <label for=""><b>Order:</b></label>
    <select [(ngModel)]="order">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
    <button type="button" class="btn btn-warning" (click)="getSortedAllstudents()">Sort</button>
</div>
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th rowspan="2"> Id.</th>
                <th rowspan="2">Name</th>
                <th rowspan="2">Gender</th>
                <th rowspan="2">Mobile</th>
                <th rowspan="2">Batch</th>
                <th colspan="2">Address</th>
                <th rowspan="2">Company Name</th>
                <th rowspan="2">Package</th>
                <th rowspan="2">Action</th>
            </tr>
            <tr>
                <th>district</th>
                <th>state</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of allStudents">
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.mobile}}</td>
                <td>{{student.batch}}</td>
                <td>{{student.address.district}}</td>
                <td>{{student.address.state}}</td>
                <td>{{student.company.name}}</td>
                <td>{{student.address.state}}</td>

                <td><button type="button" class="btn btn-danger"(click)="delet(student.id)">Delete</button></td>
                
            </tr>
        </tbody>
    </table>

